.App {
    text-align: center;
    font-family: "Impact", Impact, Haettenschweiler, "Arial Narrow Bold",
        sans-serif;
    color: white;
    background-color: black;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.navbar .navbar-nav {
    display: flex;
    flex-direction: row !important;
}

.nav-link {
    padding-right: 2vw;
    padding-left: 2vw;
}

.navbar {
    justify-content: center;
    font-size: clamp(10px, 4vw, 30px);
}

body {
    padding-top: 75px;
    background-color: black;
}

.button-box {
    display: flex;
    flex-direction: row;
    /* Line them up side by side */
    gap: 10px;
    /* Adds space between the buttons */
    justify-content: center;
    /* Center buttons horizontally */
    padding: 20px;
}

.action-button,
.action-button a {
    flex: 1;
    /* Makes the buttons share available space equally */
    display: flex;
    /* This ensures the flex properties apply to children */
    justify-content: center;
    /* Center content horizontally */
    align-items: center;
    /* Center content vertically */
    text-decoration: none;
    /* Removes underline from links */
    cursor: pointer;
    /* Shows a pointer cursor on hover */
}

/* Media query for screens smaller than 768px wide */
@media (max-width: 768px) {
    .button-box {
        flex-direction: column;
        /* Stack them vertically on small screens */
        align-items: center;
    }
}

.list-container {
    display: flex;
    justify-content: center;
    font-size: clamp(15px, 3vw, 30px);
    /* Adjust font size dynamically */
}

.t-list {
    list-style: none;
    padding-left: 0;
    /* Remove default padding */
    text-align: left;
}

.t-list li {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.bullet {
    margin-right: 10px;
    width: 3vw;
    /* Adjust size as needed */
    height: auto;
    /* Maintains aspect ratio */
}

.video-container {
    font-size: clamp(6px, 1vw, 20px);
    /* Adjust font size dynamically */
    position: relative;
    text-align: center;
    color: white;
    /* width: 100%; */
}

.iframe-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.warning-banner {
    background-color: red;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    color: white;
    padding: 10px;
    width: 100%;
    text-align: center;
    margin: 20px auto;
    font-size: clamp(2px, 4vw, 30px);
}

.social-image {
    padding-top: 8px;
}

html {
    scroll-padding-top: 75px;
}

.section-title {
    font-size: clamp(24px, 6vw, 80px);
}

.section-title img {
    width: 12vw;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-right: 3%;
}

.bar {
    padding-top: 70px;
    padding-bottom: 70px;
}

.copy-button {
    margin-left: 10px;
    font-size: 14px;
    border-radius: 5px;
    background-color: red;
    border: none;
    color: white;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.comic-page {
    margin: 3%;
}

.comic-image {
    border-color: black;
    border-width: 5px;
}